@model IEnumerable<TodoApp.Models.Todo>

@{
    ViewData["Title"] = "Todo List";
}

<h1>Todo List</h1>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Create New Todo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Completed</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var todo in Model)
        {
            <tr>
                <td>@todo.Title</td>
                <td>@(todo.IsComplete ? "Yes" : "No")</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = todo.Id })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", new { id = todo.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
